


h1 {
	font-size: 100px;
	font-family: futura - 300;
	color: #262626; 
	background-color:;
	margin: 1%;
	padding: 1%;

}

p {font-family: futura, Arial
position: fixed;}


img {display: inline;

}


a{font-family: Futura, Arial;
	color:#262626;
	font-size: 13px;

}
#first:hover {color:pink;} 
#second:hover {color:pink;}
#third:hover {color:pink;}
p { font-family: futura, Arial;
	color:#262626

}


nav{
text-align: right; 
margin-right: 2%;
margin-top: 1%;
size: 19px;
}

nav a {
	padding:1%;
}

.bali {
	margin:5%;
	padding:5%;
}

