
.container {
	width: 50%;
	margin:0 auto;
	height:100%;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	background-color: white;
}

.heading { display:flex;
	justify-content: center;

}

h3 {
	font-family: 'Oswald', sans-serif;
}

#header1 {
	font-size: 35px;
font-family: 'Oswald', sans-serif;
	color:red;
	align-self: center;
	background-color: 
	text-transform: uppercase;

}

body { background-image: url(sweden.png);
	
}

.img1 {

	justify-content: center;
	
}

.img1 img {
	width: 25%;
	
}

.img2 {
	
	justify-content: center;

}

.img2 img {
	width:40%;
	
}

.bilder {

	display: flex;
	justify-content: center;

}